build:clang_config --crosstool_top=//toolchain:clang_suite
build:clang_config --cpu=k8
build:clang_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# ignored warnings are from folly headers
build --config=clang_config \
--cxxopt='-std=c++20' \
--cxxopt='-DV8_COMPRESS_POINTERS=1' \
--cxxopt='-DV8_31BIT_SMIS_ON_64BIT_ARCH=1' \
--cxxopt='-DWTF_FOLLY_HACK=1' \
--cxxopt='-Wno-nullability-completeness' \
--cxxopt='-Wno-unknown-warning-option' \
--sandbox_debug --verbose_failures
